* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ababab;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.result {
  font-size: 70px;
  text-align: center;
}

.dealer,
.players {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnStart {
  width: 130px;
  margin: 0 auto;
  padding: 5px 15px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: 1px;
}

.btnDone {
  display: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card,
.card-back-side {
  width: 160px;
  height: 240px;
  background-color: white;
  border-radius: 5px;
  outline: none;
  overflow: hidden;
  margin: 50px 10px;
  position: relative;
}

.card-back-side {
  background-color: black;
}

.card.card-diamond.card-back-side::before,
.card.card-diamond.card-back-side::after,
.card.card-heart.card-back-side::before,
.card.card-heart.card-back-side::after {
  color: black;
}

.card::before,
.card::after {
  content: "";
  width: 25px;
  font-size: 30px;
  position: absolute;
  line-height: 25px;
  text-align: center;
}

.card::before {
  top: 15px;
  left: 15px;
}

.card::after {
  bottom: 15px;
  right: 15px;
  transform: rotate(180deg);
}

.card-heart::before,
.card-heart::after {
  content: attr(value) " ♥";
  color: red;
}

.card-spade::before,
.card-spade::after {
  content: attr(value) " ♠";
  color: black;
}

.card-club::before,
.card-club::after {
  content: attr(value) " ♣";
  color: black;
}

.card-diamond::before,
.card-diamond::after {
  content: attr(value) " ♦";
  color: red;
}

.choices-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hit-btn,
.stay-btn {
  margin: 0 20px;
  width: 90px;
  padding: 10px 0px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .card,
  .card-back-side {
    width: 100px;
    height: 150px;
    margin: 50px 10px;
  }

  .card::before,
  .card::after {
    font-size: 20px;
    line-height: 15px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .card,
  .card-back-side {
    width: 100px;
    height: 150px;
    margin: 50px 10px;
  }

  .card::before,
  .card::after {
    font-size: 20px;
    line-height: 15px;
  }

  .card::before {
    top: 10px;
    left: 5px;
  }

  .card::after {
    bottom: 10px;
    right: 5px;
  }
}
